---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="<secret>",
        oauth_signature="<secret>", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1540305775", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Oct 2018 14:42:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cc6a1849022d44920f5284bf157de7bf
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '72'
      X-Rate-Limit-Reset:
      - '1540306214'
      X-Response-Time:
      - '132'
      X-Transaction:
      - 004f44c1002f8c1d
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":1,"id_str":"1","name":"no no no","screen_name":"none","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":3,"listed_count":0,"created_at":"Sat
        Dec 30 10:28:41 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 23 Oct 2018 14:42:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="<SECRET>",
        oauth_signature="<SECRET>", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1540305775", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 23 Oct 2018 14:42:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bbf7175b19e57b0dc2502c9bc38c3a14
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1540306214'
      X-Response-Time:
      - '162'
      X-Transaction:
      - 006e75c400a900fe
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"users":[{"id":103519940,"id_str":"103519940","name":"Volleyball World","screen_name":"FIVBVolleyball","location":"","description":"Official
        Twitter account for Volleyball World","url":"https:\/\/t.co\/pP9iYGzosx","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/pP9iYGzosx","expanded_url":"http:\/\/japan2018.fivb.com\/en","display_url":"japan2018.fivb.com\/en","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":160020,"friends_count":981,"listed_count":1124,"created_at":"Sun
        Jan 10 08:30:55 +0000 2010","favourites_count":900,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":93673,"lang":"en","status":{"created_at":"Tue
        Oct 23 13:02:08 +0000 2018","id":1054719624946827264,"id_str":"1054719624946827264","text":"The
        #FIVBWomensWCH trophy has now found its way in Belgrade, Serbia! \ud83c\uddf7\ud83c\uddf8
        The grand Serbian celebrations are just beg\u2026 https:\/\/t.co\/HAQjPaKhz1","truncated":true,"entities":{"hashtags":[{"text":"FIVBWomensWCH","indices":[4,18]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/HAQjPaKhz1","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1054719624946827264","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1054344873472593920,"quoted_status_id_str":"1054344873472593920","retweet_count":0,"favorite_count":19,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/994509234879508482\/q9Ixcwyw_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/994509234879508482\/q9Ixcwyw_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/103519940\/1538470383","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"live_following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false,"translator_type":"none"},{"id":459275531,"id_str":"459275531","name":"JavaScript
        Daily","screen_name":"JavaScriptDaily","location":"","description":"Daily
        JavaScript \/ JS news, links and events, delivered with wit and enthusiasm.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":331214,"friends_count":189,"listed_count":6232,"created_at":"Mon
        Jan 09 13:43:05 +0000 2012","favourites_count":908,"utc_offset":null,"time_zone":null,[...]
